#header {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f0ef6a34192723.56c72f44cf64d.jpg");
  height: 210px;
  position: relative;
}

h1 {
  /**font-family: "Sail", cursive;*/
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: pink;
  text-shadow: 4px 4px white;
}

#header:hover {
  -webkit-animation:imageRoll 15s infinite linear;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes imageRoll {
  0% {
   /**background-image: url("https://i.pinimg.com/564x/ba/c0/23/bac02379eeb5030fc8c4548e4a142b96.jpg");*/
   background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f0ef6a34192723.56c72f44cf64d.jpg");
  } 
  50% {
     background-image: url("https://78.media.tumblr.com/fce1d08a54e317c852053b5f416388d0/tumblr_ony7z3dC4M1w308hvo2_r1_1280.png");
  }
}

body {
  text-align: center;
}

#footer { 
  text-align: center;
  height: 100px; 
  width:100%;
  bottom: 0; 
  position: relative;
}

h2 {
  font-family: "Meddon";
  color: pink;
  font-size: 30px;
}
h3 {
  font-family: "Playfair Display";
  font-size: 16px;
}

ul.projects { 
  list-style-type: circle;
  list-style-position: inside;
  text-align: center;
}

ul.projects li a {
  text-align: center;
  color: black;
  text-decoration: none;
}

ul.hi {
  margin: 0;
  padding: 0;
}

ul.hi li { 
  color: black;
  list-style-type: circle;
  list-style-position: inside;
}

p.a {
  font-family: "Meddon";
  padding: 0;
  margin: 0;
}

a {
    color: pink;
}

a:visited {
    color: black;
}


#links {
    float: left;
    width: 33.33%;
    padding: 5px;
}
