h1 {
  /**font-family: "Sail", cursive;*/
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

/*

#title:hover {
  -webkit-animation:imageRoll 15s infinite linear;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes imageRoll {
  0% {
   background-image: url("https://i.pinimg.com/564x/ba/c0/23/bac02379eeb5030fc8c4548e4a142b96.jpg");
   background-image: url("https://i.pinimg.com/564x/19/9c/51/199c514f1220fb611644161ec0d62138.jpg");
  } 
  50% {
     background-image: url("https://i.pinimg.com/564x/19/9c/51/199c514f1220fb611644161ec0d62138.jpg");
  }
}
*/

body {
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Meddon";
  color: #d7cde3;
  font-size: 30px;
}

h3 {
  font-family: "Playfair Display";
  font-size: 16px;
}

#header-title {
  font-family: "Playfair Display";
  font-size: 55px;
  font-style: italic;
}

#header-description {
  margin-top: -70px;
  width: 350px;
  position: fixed;
  font-size: 14px;
  color: white;
}

#header, #sidenav {
   /*
   background-image: url('https://i.pinimg.com/236x/de/6b/ff/de6bffd4104796141e17dbc030f37097.jpg');
   background-image: url('https://i.pinimg.com/236x/f4/44/da/f444dab5b29c4d5f58132ff27ce60cb9.jpg');
  */

  background-image: url('https://i.pinimg.com/236x/58/1f/2a/581f2a0e0c251c97d4ec0020675a3257.jpg');
}


#sidenav {
  margin-top:-30px;
  padding: 0;
  width: 350px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

  #menu a:hover {
    color: #eeeeee;
    background-color: rgb(128,128,128, 0.3);
  }

 #sidenav a, #header a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #d7cde3;
  }

  #sidenav a.active {
    color: #ececec;
  }

  #sidenav a:hover:not(.active) {
    color: white;
  }

  #quote {
    font-size: 14px;
    color: white;
  }

  #quote-description {
    font-family: "Meddon";
    font-size: 16px;
    line-height: 10px;
    color: #d7cde3;
  }



@media screen and (max-width: 700px) {
  #header, #header-description {
    width: 100%;
    height: auto;
    position: relative;
   }
  #sidenav {
    margin-top:0px;
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidenav a {float: left;}
  div.main {margin-left: 0;}
  #quotes, #quote-description{
     display: none;
  }

}

@media screen and (max-width: 400px) {
  #header a, #header-description {
    width: 100%;
    height: auto;
    position: relative;
   }
  #sidenav a {
    text-align: center;
    float: none;
  }
}

#main {
  margin-left: 350px;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: #cabdda;
}

a:hover {
  color: #d7cde3;
}

li {
    height : 25px;
}

#profilepic {
  width: 30%;
  height: 30%;
  border: 15px solid #f1f1f1;
}

#social-footer {
  margin-bottom: -50px;
  margin-left: 350px;
  padding: 0px 10px;
  color: #d7cde3;
}