#header {
  background-image: url("https://i.pinimg.com/564x/19/9c/51/199c514f1220fb611644161ec0d62138.jpg");
  height: 210px;
  position: relative;
}

h1 {
  /**font-family: "Sail", cursive;*/
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

#header:hover {
  -webkit-animation:imageRoll 15s infinite linear;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes imageRoll {
  0% {
   /**background-image: url("https://i.pinimg.com/564x/ba/c0/23/bac02379eeb5030fc8c4548e4a142b96.jpg");*/
   background-image: url("https://i.pinimg.com/564x/19/9c/51/199c514f1220fb611644161ec0d62138.jpg");
  } 
  50% {
     background-image: url("https://i.pinimg.com/564x/19/9c/51/199c514f1220fb611644161ec0d62138.jpg");
  }
}

body {
  text-align: center;
}

#footer { 
  text-align: center;
  height: 100px; 
  width:100%;
  bottom: 0; 
  position: relative;
}

h2 {
  font-family: "Meddon";
  color: pink;
  font-size: 30px;
}
h3 {
  font-family: "Playfair Display";
  font-size: 16px;
}

#menu ul {
   list-style-type: none;
}

#menu li {
   display: inline;
   text-align: center;
}

#menu li a{
   display: inline;
   text-align: center;
   color: black;
}

ul.projects { 
  list-style-type: circle;
  list-style-position: inside;
  text-align: center;
}

ul.projects li a {
  text-align: center;
  color: black;
  text-decoration: none;
}


ul li {
  margin: 0;
  padding: 0;
  color: black;
  list-style-type: circle;
  list-style-position: inside;
  text-align: center;

}

p.a {
  font-family: "Meddon";
  padding: 0;
  margin: 0;
}

p {
  font-family: "Playfair Display";
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}


#links {
    float: left;
    width: 33.33%;
    padding: 5px;
}
